<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.getgoing.going"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <!--
    PERMISSIONS
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature"
        android:name="xyz.getgoing.going.permission.C2D_MESSAGE" />
    <uses-permission android:name="xyz.getgoing.going.permission.C2D_MESSAGE" />

    <!--
    APPLICATION
    -->
    <application
        android:name="xyz.getgoing.going.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- DISPATCH -->
        <activity android:name="xyz.getgoing.going.DispatchActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- LOGIN -->
        <activity android:name="xyz.getgoing.going.LoginActivity"
            android:label="@string/login_title"
            android:screenOrientation="portrait" >
        </activity>
        <!-- FACEBOOK LOGIN -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- SET PROFILE -->
        <activity android:name="xyz.getgoing.going.SetProfileActivity"
            android:label="@string/set_profile_title"
            android:screenOrientation="portrait"
            android:noHistory="true" >
        </activity>
        <!-- MAIN -->
        <activity android:name="xyz.getgoing.going.MainActivity"
            android:label="@string/this_weekend_title"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" >
        </activity>
        <!-- FRIEND CHAT -->
        <activity android:name="xyz.getgoing.going.FriendChatActivity"
            android:label="@string/friend_chat_title"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            android:parentActivityName="xyz.getgoing.going.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.getgoing.going.MainActivity" />
        </activity>
        <!-- FACEBOOK APP ID -->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- PARSE PUSH NOTIFICATIONS -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="xyz.getgoing.going" />
            </intent-filter>
        </receiver>
        <receiver android:name="xyz.getgoing.going.PushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_this_weekend_icon" />

    </application>

</manifest>
